@import "nullstyle";

// =============================================

.container {
    max-width: 1368px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}


.main {
    position: relative;
    z-index: 5;
}

// =============================================

.hello {
    background: url(../img/bg.jpg) 0 0/cover no-repeat;
    position: relative;
    z-index: 2;
    background-attachment: fixed;
    padding: 38px 0px 400px;
    color: #fff;

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    /* .hello__bg */
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(230, 166, 126, 0.26);
        height: 100%;
        width: 100%;
    }

    /* .hello__title */
    &__title {
        position: fixed;
        bottom: 38px;
        right: 102px;
        padding-top: 150px;
        padding-bottom: 200px;
        z-index: 1;

        span:first-child {
            font-size: 150px;
            font-weight: bold;
            line-height: 182.85px;
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            top: -60px;
            right: 0
        }

        span:last-child {
            font-size: 200px;
            font-weight: bold;
            line-height: 243.8px;
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            top: 70px;
            right: 0
        }
    }
}

.header {
    padding: 0px 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 433px;

    /* .header__list */
    &__list {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        z-index: 10;

        li {
            margin-right: 36px;

            &:last-child {
                margin: 0;
            }
        }

        a {
            color: #fff;
            font-weight: 700;
            font-size: 24px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// =============================================

.why {
    padding: 56px 0px;
    background: rgba(250, 232, 221, 0.88);
    text-align: center;

    /* .why__title */
    &__title {
        font-family: 'Noto Sans', sans-serif;
        font-size: 64px;
        line-height: 87.17px;
        margin: 0px 0px 70px 0px;
    }

    /* .why__container */

    &__container {
        display: flex;
        flex-flow: row nowrap;
    }

    /* .why__column */

    &__column {
        flex: 1 1 33.3333%;

        &:nth-child(1) {
            .why__image {
                margin-bottom: 177px;
            }
        }

        &:nth-child(2) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &:nth-child(3) {
            .why__block {
                margin: 0px 0px 137px 0px;
            }
        }
    }

    /* .why__image */

    &__image {

        img {
            border-radius: 30px;
            max-width: 100%;
        }
    }

    /* .why__block */

    &__block {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* .why__icon */

    &__icon {
        img {
            max-width: 100%;
        }
    }

    /* .why__section */

    &__section {
        font-size: 36px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
    }

    /* .why__text */

    &__text {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }
}

// =============================================

.interesting {
    padding: 120px 0px;
    background: rgba(250, 232, 221, 0.88);

    /* .interesting__title */

    &__title {
        font-family: 'Noto Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 40px;
    }

    /* .interesting__container */

    &__container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }

    /* .interesting__column */

    &__column {
        flex: 1 1 50%;

        &:last-child {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
        }
    }

    /* .interesting__text */

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;

        &:first-child {
            margin-bottom: 20px;
            margin-top: 35px;
        }
    }

    /* .interesting__buttons */

    &__buttons {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 40px;
        width: 300px;
        justify-content: space-between;
    }

    /* .interesting__bullets */

    /* .interesting__image */
    &__image {
        display: inline-block;

        img {
            max-width: 100%;
            border-radius: 30px;
        }
    }
}

.bullets {
    width: 70px;
    justify-content: space-between;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;

    li {
        display: inline-block;
        cursor: pointer;
        width: 13px;
        height: 13px;
        border: 3px solid #000;
        border-radius: 50%;

        &:first-child {
            background: #000;
        }
    }
}

.l-arrow {
    position: relative;
    height: 70px;
    width: 70px;
    border: 5px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    span {
        position: absolute;
        top: 37px;
        left: 13px;
        width: 30px;
        height: 5px;
        border-radius: 70px;
        background: #000;
        transform: rotate(45deg);

        &:last-child {
            transform: rotate(-45deg);
            top: 18px;
        }
    }

    &:hover {
        background-color: #dddddd;
    }
}

.r-arrow {
    position: relative;
    height: 70px;
    width: 70px;
    border: 5px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    span {
        position: absolute;
        top: 37px;
        left: 18px;
        width: 30px;
        height: 5px;
        border-radius: 70px;
        background: #000;
        transform: rotate(-45deg);

        &:last-child {
            transform: rotate(45deg);
            top: 18px;
        }
    }

    &:hover {
        background-color: #dddddd;
    }
}

// =============================================

.where {
    padding: 100px 0px;
    background: rgba(250, 232, 221, 0.88);
    text-align: center;

    /* .where__title */

    &__title {
        font-family: "Noto Sans", sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 87px;
    }

    /* .where__container */

    &__container {
        margin-top: 80px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    &__caption {
        position: absolute;
        bottom: 37px;
        right: 0;
        background-color: rgba(250, 234, 224, 1);
        font-family: "Noto Sans", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        text-align: center;

        padding: 0px 45px;
    }

    /* .where__image */

    &__image {
        position: relative;
        margin: 0px 50px;
    }

    /* .where__bullets */

    &__bullets {
        width: 270px;
        margin: 30px auto 0;

        li {
            width: 25px;
            height: 25px;

            &:first-child {
                background-color: rgba($color: #000000, $alpha: 0);
            }

            &:nth-child(4) {
                background-color: #000;
            }
        }
    }
}

// =============================================

.program {
    background-color: #fae8dde0;
    position: relative;
    padding-bottom: 80px;

    .container {
        position: relative;
        z-index: 5;
    }

    &__line {
        z-index: 4;
        position: absolute;
        top: 240px;
        left: 340px;
        width: 70%;
        height: 70%;
    }

    /* .program__bg */

    &__bg {
        position: absolute;
        top: 400px;
        left: 50%;
        translate: -50% 0;
        width: 100%;
        height: 1230px;
        background: url(../img/program/bg2.png) 0 0/cover no-repeat;
        z-index: 4;
    }

    /* .program__bg-images */

    &__bg-images {
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;

            &:nth-child(1) {
                top: -150px;
                left: 0;
            }

            &:nth-child(2) {
                right: 0;
            }

            &:nth-child(3) {
                right: 0;
                top: 1830px;
            }
        }
    }

    /* .program__title */

    &__title {
        font-family: "Noto Sans", sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 87px;
        text-align: center;
        margin-bottom: 185px;
    }

    &__point {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        span {
            margin-top: 10px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #000;
            display: inline-block;
        }
    }

    /* .program__day1-2 */

    &__day1-2 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 650px;
        position: relative;

        .program__text {
            align-items: center;
        }

        .program__point {
            left: 1005px;
        }
    }

    /* .program__day3-4 */

    &__day3-4 {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-flow: row nowrap;
        margin-bottom: 650px;

        .program__text {
            align-items: flex-end;
            margin-right: 100px;
        }

        .program__point {
            left: 73px;
        }
    }

    /* .program__day5 */

    &__day5 {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;

        .program__point {
            left: 1080px;
        }
    }

    /* .program__images */

    &__images {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    /* .program__image */

    &__image {
        margin-right: 25px;

        &:last-child {
            margin: 0;
        }

        img {
            border-radius: 25px;
            margin-bottom: 15px;
            display: block;
            transition: 0.4s;

            &:hover {
                box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
                scale: 1.05;
            }
        }
    }

    /* .program__place */

    &__place {
        text-align: center;
        font-family: "Noto Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;

    }

    /* .program__text */

    &__text {
        font-family: "Noto Sans", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        display: flex;
        flex-flow: row nowrap;
    }

}

// =============================================

.price {
    background-color: rgba(250, 234, 224, 1);
    padding: 50px 0px 100px;

    /* .price__title */

    &__title {
        font-family: "Noto Sans", sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 87px;
        text-align: center;
        margin-bottom: 100px;
    }

    /* .price__container */

    &__container {
        display: flex;
        flex-flow: row nowrap;
    }

    /* .price__column */

    &__column {
        flex: 1 1 33.3333%;
        margin-right: 20px;

        border: 2px solid #000;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 25px;
        padding-bottom: 30px;

        &:last-child {
            margin: 0;
        }
    }

    /* .price__image */

    &__image {
        width: 100%;

        img {
            width: 100%;
            border-radius: 25px;
        }
    }

    /* .price__text */

    &__text {
        margin-top: 55px;
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 49px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* .price__button */

    &__button {
        background-color: rgba(230, 166, 126, 1);
        display: inline-block;
        height: 60px;
        width: 300px;
        text-align: center;
        margin: 0 auto;
        line-height: 43.65px;
        font-size: 32px;
        padding: 7px 15px;
        border-radius: 25px;
        color: #000;
        transition: 0.4s;

        &:hover {
            background-color: #ffd7be;
        }
    }
}

// =============================================

.reviews {
    padding: 100px 0px;
    background: rgba(250, 232, 221, 0.88);
    text-align: center;

    /* .where__title */

    &__title {
        font-family: "Noto Sans", sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 87px;
    }

    &__container {
        margin-top: 80px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    &__column {
        &:nth-child(2) {
            border-radius: 25px;
            border: 2px solid #000;
            margin: 0px 20px;
            display: flex;
            flex-flow: column nowrap;
            padding: 42px 0px 35px;
        }
    }

    &__image {
        position: relative;
        margin: 0px 50px;

        img {
            border-radius: 25px;
        }
    }

    &__row1 {
        display: flex;
        flex-flow: row nowrap;
        width: 350px;
        align-self: flex-end;
        margin-right: 200px;
        justify-content: space-between;
    }

    &__row2 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }

    &__date {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }

    &__subcolumn {
        &:last-child {
            margin-top: 30px;
            margin-left: 150px;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            text-align: left;
            max-width: 600px;
            margin-right: 100px;

            p {
                &:first-child {
                    margin-bottom: 25px;
                }
            }
        }
    }

    &__bullets {
        width: 270px;
        margin: 30px auto 0;

        li {
            width: 25px;
            height: 25px;

            &:first-child {
                background-color: rgba($color: #000000, $alpha: 0);
            }

            &:nth-child(4) {
                background-color: #000;
            }
        }
    }
}

// =============================================

.online {
    background-color: rgba(250, 234, 224, 1);
    padding: 63px 0px 92px;

    .container {
        display: flex;
        flex-flow: row nowrap;
    }

    &__column {
        &:last-child {
            margin-left: 200px;
        }
    }

    /* .online__title */
    &__title {
        font-family: "Noto Sans", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 49px;
        margin: 0px 0px 31px 0px;
    }

    /* .online__image */

    &__image {
        img {
            border-radius: 25px;
        }
    }
}

.form {
    height: 100%;
    /* .form__column */
    display: flex;
    flex-flow: row nowrap;

    label {
        font-family: "Noto Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
    }

    input {
        background-color: #00000000;
        border-bottom: 1px solid #000;
        padding: 5px 5px;
        font-size: 20px;
        line-height: 27.24px;
    }

    &__column {
        &:nth-child(1) {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin-right: 100px;
        }

        &:nth-child(2) {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }
    }

    /* .form__username */

    &__username {
        display: flex;
        flex-flow: column nowrap;


    }

    /* .form__date */

    &__date {
        display: flex;
        flex-flow: column nowrap;
    }

    /* .form__number */

    &__number {
        display: flex;
        flex-flow: column nowrap;
    }

    /* .form__button */

    &__button {
        background-color: #e6a67e;
        height: 50px;
        line-height: 50px;
        font-family: "Noto Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        border-radius: 25px;
        transition: 0.4s;

        &:hover {
            background-color: #ffd7bd;
        }
    }
}

// ========================================

.footer {
    position: relative;
    z-index: 5;
    background-color: #E6A67E;
    padding: 71px 0px 85px;

    a {
        color: #000;
        font-family: "Nunito";
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;

        &:hover {
            text-decoration: underline;
        }
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* .footer__column */

    &__column {
        display: flex;
        flex-flow: column nowrap;
        height: 70px;
        justify-content: space-between;

        &:nth-child(2) {
            width: 200px;
            justify-content: center;
        }
    }

    /* .footer__icons */

    &__icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}